@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}


/* navbar */
.navbar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.navbar-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    /* background-color: green; */
    padding: 10px;
}

.left-navbar-logo {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.left-navbar-logo img {
    width: 40px;
}

.left-navbar-logo .navbar-left-search {
    background-color: #ebebeb;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    width: 300px;
}

.navbar-left-search input {
    border: none;
    outline: none;
    width: 85%;
    background: transparent;
}

.navbar-left-search i {
    color: #808080;
    scale: 1.2;
}

.middle-navbar-navlinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    border-right: 1px solid #808080;
    padding: 0 20px;
}

.navlink-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #808080;
    gap: 5px;
    transition: .2s ease-in-out;
}

.navlink-box:hover {
    color: #000;
    border-bottom: 2px solid #000;
}

.active {
    color: #000;
    border-bottom: 2px solid #000;
}

.navlink-box i {
    scale: 1.3;
}

.navlink-box-title {
    font-size: 12px;
}

.right-navbar-more {
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
    /* align-items: flex-start; */
    width: 20%;
}

.nalinks-super-text {
    position: absolute;
    top: -5px;
    right: 10px;
    font-size: 11px;
    background-color: #e60000;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    color: #ffffff;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* home section */

.home-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding:20px 70px;
    background-color: #f5f5f5;
}

/* home left section */

.left-home-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 25%;
}


.left-home-profile-box {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffffff;
    border: 1px solid #dfdfdf;
}

.left-home-profile-box-images {
    position: relative;
    top: 0;
    left: 0;
    height: 140px;
    overflow: hidden;
}

.home-profile-cover-image {
    position: absolute;
    top: 0;
    left: 0;
}

.home-profile-cover-image img {
    width: 100%;
}

.home-profile-image {
    position: absolute;
    top: 20px;
    left: 30%;
    display: block;
    margin: auto;
}

.home-profile-image img {
    width: 100px;
    border-radius: 50%;
}

.home-profile-name {
    padding: 0 8px;
    padding-bottom: 20px;
    border-bottom:1px solid #dfdfdf ;
}
.home-profile-name a{
    text-decoration: none;
    color: #000;
}
.home-profile-name h5{
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    transition: .3s ease-in-out;
    
}
.home-profile-name h5:hover{
    text-decoration: underline;
}
.home-profile-name h6{
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: #808080;
}
.home-profile-viewers{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom:1px solid #dfdfdf ;
    /* padding: 10px 0; */
}

.home-profile-viewers-inner{
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: .3s ease-in-out;
}
.home-profile-viewers-inner:hover{
   background-color: #dfdfdf;
}
#profile-connection-grow{
    font-weight: 700;
}
.home-profile-viewers-count{
    color: #008cff;
    font-weight: 700;
}
#linkedin-icon-gold{
    color: #d8b801;
    font-size: 20px;
}
.fa-bookmark{
    color: #3a3a3a;
}
.home-profile-premium{
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom:1px solid #dfdfdf ;
}

.home-profile-premium-inner{
    padding: 10px 10px;
    justify-content: space-between;
    transition: .3s ease-in-out;
}
.home-profile-premium-inner:hover{
   background-color: #dfdfdf;
}
.left-home-action-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffffff;
    border: 1px solid #dfdfdf;
   
}
.left-home-action-box-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.left-home-action-box-inner-more{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    border-top: 1px solid #dfdfdf;
    height: 40px;
    transition: .3s ease-in-out;
}
.left-home-action-box-inner-more:hover{
   background-color: #e3e3e3;
}
.left-home-action-box-inner-more a{
    text-decoration: none;
    color: #3a3a3a;
   font-size: 12px;
   font-weight: 700;
   
}
.left-home-action-box-inner a{
   text-decoration: none;
   font-size: 12px;
   font-weight: 700;
   color: #008cff;
}
.left-home-action-box-inner .fa-plus{
  padding: 5px;
  transition: .3s ease-in-out;
  border-radius: 50%;
}
.left-home-action-box-inner .fa-plus:hover{
  background-color: #adadad;

}


/* home middle section */


.middle-home-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.middle-upload-post-container{
    padding: 10px;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    background-color: #ffffff;
    font-size: 12px;
}
.middle-upload-post-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.middle-upload-profile-image{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}
.middle-upload-profile-image img{
    width: 50px;
}
.middle-upload-post-input{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 88%;
    height: 40px;
    border: 1px solid #adadad;
    border-radius: 20px;
    background-color: #ffffff;
}
.middle-upload-post-input input{
    border: none;
    outline: none;
    background:transparent;
    width: 100%;
    padding:10px 10px;
}
.middle-upload-post-input input::placeholder{
    font-weight: 600;
}
#middle-upload-image{
    color: #008cff;
    font-size: 17px;
}
#middle-upload-job{
    color: blueviolet;
    font-size: 17px;

}
#middle-upload-articile{
    color: #f93131;
    font-size: 17px;
}

/* middle filter line */

.middle-filter-line-conatiner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
#middle-filter-line{
    height: 1px;
    width: 80%;
    background-color: #cfcfcf;
}

#middle-filter-item{
    font-size: 12px;
    display: inline-block;
    cursor: pointer;
}


/* middle user posts */

.middle-user-post-conatiner{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
   
}
.middle-user-post-row{
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    overflow: hidden;
    background-color:#ffffff;
}
.middle-user-post-user-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.middle-user-post-user-details-left{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 20px;
}
.middle-user-post-user-details-left-image{
text-align: center;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   overflow: hidden;
}
.middle-user-post-user-details-left-image img{
   width: 50px;
}
.middle-user-post-user-details-left-image-channel{
text-align: center;
   width: 50px;
   height: 50px;
   overflow: hidden;
}
.middle-user-post-user-details-left-image-channel img{
   width: 50px;
}
.middle-user-post-user-details-left-name h6{
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.middle-user-post-user-details-right{
    display: flex;
    flex-direction: column;
}
.middle-user-post-user-details-right-action{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 10px;
}
.middle-user-post-user-details-right-connect{
    padding-top: 5px;
   font-size: 15px;
   color: #0040ff;
   font-weight: 600;
   cursor: pointer;
}
.middle-user-post-descirption{
    padding: 10px;
    font-size: 13px;
}
.middle-user-post-image-box img{
   width: 100%;
}

.middle-user-post-action-box{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}
.middle-user-post-action-row1{
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 10px;
}
#middle-liked-post-count{
    color: #ffffff;
    background-color: #008cff;
    padding: 5px;
    border-radius: 50%;
}
#middle-love-post-count{
    color: #ffffff;
    background-color: #ff0000;
    padding: 5px;
    border-radius: 50%;
}

.middle-user-post-action-row2{
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    
}
.middle-user-post-action-row2-inner{
    padding: 10px;
    transition: .3s ease-in-out;
    border-radius: 10px;
}
.middle-user-post-action-row2-inner:hover{
    background-color: #cfcfcf;
}





/* loader */

.middle-home-loader-conatiner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-home-loader{
    
    border: 10px solid rgb(126, 126, 126);
    border-top: 10px solid rgb(198, 198, 198);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    animation:spin .7s linear infinite ;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* home right section */
.right-home-container {
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 20px;
    
}
.right-home-news-conatiner{
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    background-color: #ffffff;
    font-size: 12px;
    padding: 10px;
}
.right-home-news-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.right-home-news-header h5{
   font-size: 13px;
   font-weight: 600;
}
.right-home-news-header i{
   background-color: #000;
   width: 15px;
   height: 15px;
   color: #ffffff;
   text-align: center;
   border-radius: 2px;
}
.right-home-news-content{
    padding: 10px 20px;
}
.right-home-news-content li{
    padding-bottom: 10px;
    list-style-type: disc;
    transition: .3s ease-in-out;
}
.right-home-news-content li:hover{
    background-color: #dddddd;
}
.right-home-news-content b{
    font-weight: 600;
}
.right-home-news-content span{
    color: #9e9e9e;
}
.right-home-news-show-more{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    transition: .3s ease-in-out;
}
.right-home-news-show-more:hover{
    background-color: #dddddd;
}

/* right home block underline after linkedin news */
.right-home-underline{
    height: 1px;
    border: 1px solid #cfcfcf;
}

/* right home block links after underline */

.right-home-links-conatiner{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.right-home-links-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 12px;
}
.rigth-home-links-inner{
    margin: 0 5px;
    color: #808080;
    transition: .3s ease-in-out;
}
.rigth-home-links-inner:hover{
   color: #008cff;
   text-decoration: underline;
}

#linkedin-copyright{
    font-weight: 700;
    color: #0026ff !important;
}
.fa-linkedin{
    font-size: 20px;
}